<!-- Services Section -->
<section id="pc">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Committees</h2>
                <h3 class="section-subheading">Program Chairs & Organizers</h3>

                <div class="row">
                    {% for member in site.people %}
                    <div class="col-sm-3">
                        <div class="team-member">
                            <img src="img/team/{{ member.pic }}.jpg" class="img-responsive img-circle" alt="">
                            <h4>{{ member.name }}</h4>
                            <p class="text-muted">{{ member.position }}</p>
                            <ul class="list-inline social-buttons">
                                {% for network in member.social %}
                                <li>
                                    <a href="{{ network.url }}">
                                        <i class="fa fa-{{ network.title }}"></i>
                                    </a>
                                </li>
                                {% endfor %}

                            </ul>
                        </div>
                    </div>
                    {% endfor %}
                </div>

                <!--<ul>
                    <li>Matteo Francia, DISI - University of Bologna (m.francia@unibo.it)</li>
                    <li>Enrico Gallinucci, DISI - University of Bologna (enrico.gallinucci@unibo.it)</li>
                    <li>Patrick Marcel, LIFAT – Université de Tours (patrick.marcel@univ-tours.fr)</li>
                    <li>Stefano Rizzi, DISI - University of Bologna (stefano.rizzi@unibo.it)</li>
                </ul>-->

                <h3 class="section-subheading">Program Committee</h3>
                <ul class="pcm">
                    <li>Sana Sellami - Aix Marseille University, France</li>
                    <li>Marie-Jeanne Lesot - Sorbonne University, France</li>
                    <li>Christophe Marsala - Sorbonne University, France</li>
                    <li>Michele Linardi - CY Cergy Paris University, France</li>
                    <li>Alexandre Chanson - University of Tours, France</li>
                    <li>Xavier Renard - Axa, France</li>
                    <li>Kostas Stefanidis - Tampere, Finland</li>
                    <li>Olivier Teste - Toulouse University, France</li>
                    <li>Enrico Gallinucci - University of Bologna, Italy</li>
                    <li>Anna Fariha - University of Utah, USA</li>
                    <li>Floris Geerts - University of Antwerp</li>
                    <li>Meike Klettke - University of Regensburg</li>
                    <li>Serena Booth - MIT}</li>
                    <li>JBarbara Oliboni - Università degli Studi di Verona</li>
                    <li>Donatella Firmani - Sapienza University</li>
                    <li>Oana Inel -University of Zurich</li>


                </ul>
            </div>
        </div>
    </div>
</section>
